body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: #7986a5;
  background: #171941;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 14px;
  height: 12px;
  background-color: inherit;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #777e95;
  background-clip: content-box;
  border: 4px solid transparent;
}
::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.1);
}

section {
  margin: 200px 0;
  color: #ccc;
}
.section-title {
  color: #fff;
  /* font-weight: 700; */
  font-size: 40px;
}

.navbar {
  background: #171941;
  transition: box-shadow 500ms;
}

.navbar.active {
  box-shadow: 0px -6px 24px 0px #000000cc;
}

.nav-logo {
  color: #fff;
  height: 40px;
}

.order-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  margin-bottom: 100px;
}

.order {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background: blue;
  transition: 500ms background;
}
.order:hover,
.order:focus {
  color: #000;
  text-decoration: none;
  background: #fff;
}

/* .order a {
  color: #fff;
} */

.customer-img {
  margin: 50px 0;
  height: 100px;
  transition: opacity 500ms;
}

.customer-img svg {
  width: 100%;
  height: 100%;
}

.customer-tag {
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  color: #ccc;
}

.overview-content {
  line-height: 36px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: #fff;
  padding: 50px 0;
  border-top: 2px solid #435db5;
  background: radial-gradient(ellipse at bottom, #292d61 30%, #171941 80%);
}

.contact-form input {
  background: #eee;
  border: none;
  border-bottom: 2px solid #999;
}

.footer-social {
  display: flex;
  margin-left: 50px;
}

.footer-social a {
  font-size: 30px;
  margin-right: 15px;
}

.menu {
  border: none;
  height: 40px;
  width: 45px;
  background: inherit;
}

.menu-line {
  width: 100%;
  height: 2px;
  background: #000;
}

.contact {
  height: 500px;
  padding: 50px 50px;
  margin-top: 190px;
  max-width: 1200px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-title {
  font-size: 55px;
  border-bottom: 1px solid #ccc;
  color: #bbb;
}

.contact-info {
  text-align: center;
  width: 200px;
  font-weight: 400;
}

.hero-image {
  position: relative;
  height: 500px;
  max-width: 500px;
  margin: auto;
  animation: airplane-hover 5s infinite linear alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  z-index: 5;
}

.engine-spiral {
  transform-origin: center;
  transform-box: fill-box;
  animation: engine-spiral-rotate 1s infinite linear;
}

@keyframes airplane-hover {
  0% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(25px);
  }
}

@keyframes engine-spiral-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hero {
  position: relative;
}

.hero-info {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 20px;
  z-index: 2;
}

@media (min-width: 700px) {
  .hero-info {
    font-size: 30px;
  }
}

@media (min-width: 1100px) {
  .hero-info {
    font-size: 40px;
  }
}

.hero-image svg {
  height: 100%;
  width: 100%;
}

.hero-cloud {
  position: absolute;
  /* display: none; */
}

.hero-cloud img {
  width: 100%;
}

.hero-cloud-0 {
  right: 287px;
  bottom: -120px;
  width: 500px;
  animation: cloud-hover 7s infinite linear alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.hero-cloud-1 {
  top: -116px;
  right: -260px;
  width: 500px;
  animation: cloud-hover 9s infinite linear alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.hero-cloud-2 {
  bottom: 61px;
  left: -247px;
  width: 500px;
  animation: cloud-hover 10s infinite linear alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes cloud-hover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}

g {
  transition: opacity 700ms;
}
